<?php

?>
<?php if ($block->isShowTitle() == 1) :
?>
<div class="sunarc-bannerslider-title" style="font: bold 12px/16px Arial, Helvetica, sans-serif;text-transform: uppercase;color: #e26703;">
	<strong><span><?php echo $block->escapeHtml($block->getSlider()->getTitle()); ?></span></strong>
</div>
<?php endif; ?>
<div class="sunarc-bannerslider-custom">
	<?php echo $block->escapeHtml($block->getSlider()->getCustomCode()); ?>
</div>
