<?php

?>
<?php
$styleSlide = $block->getSlider()->getStyleSlide();
$slider = $block->getSlider();
$banner = $block->getFirstBannerItem();
?>
<div id="sunarc-bannerslider-popup-<?php echo $block->escapeHtml($slider->getId()) ?>" class="sunarc-bannerslider-popup" data-mage-init='{"sunarc/impress": {"url": "<?php echo $this->getUrl("bannerslider/index/impress") ?>", "slider_id": "<?php echo $block->escapeHtml($block->getSlider()->getId()) ?>"}}'>
    <div id="sunarc-bannerslider-popup-close-<?php echo $slider->getId() ?>" title="Close"></div>
    <?php if ($slider->getShowTitle() == 1) :
    ?>
        <p style="text-transform: uppercase; color: #e26703; margin-bottom: 0px; background-color: rgb(255, 255, 255);">
            <strong><span><?php echo $block->escapeHtml($slider->getTitle()) ?></span></strong>
        </p>
    <?php endif; ?>
    <?php if ($banner->getId()) :
    ?>
        <a href="<?php echo $block->escapeHtml($banner->getClickUrl()) ?>" target="<?php echo $block->escapeHtml($banner->getTargetValue()) ?>" style="display:block;" data-mage-init='{"sunarc/clickbanner": {"url": "<?php echo $this->getUrl("bannerslider/index/click") ?>", "slider_id": "<?php echo $block->escapeHtml($banner->getSliderId()) ?>", "banner_id": "<?php echo $block->escapeHtml($banner->getId()) ?>" }}' >
            <img style="width:<?php echo $slider->getWidth() ?>px; height: <?php echo $slider->getHeight() ?>px;"  alt="<?php echo $banner->getImageAlt() ?>" src="<?php echo $block->getBannerImageUrl($banner) ?>"/>
        </a>
    <?php endif ?>
    </div>
<script type="text/javascript">
require(['jquery','sunarc/popup'], function($) {
    $(document).ready(function() {
        var left = ($(window).width() - <?php echo $slider->getWidth() ?>) / 2;
        var top =  ($(window).height() - <?php echo $slider->getHeight() ?>) / 2;
        $('#sunarc-bannerslider-popup-<?php echo $slider->getId() ?>').bPopup({
            position: [left, top]
        });
    });
});
</script>


