/*
* @Author: zerokool - Nguyen Huu Tien
* @Date:   2015-07-19 22:26:44
* @Last Modified by:   zero
* @Last Modified time: 2015-07-29 11:37:23
*/
.jquery-slider-wrapper img {
    width: 100%;
    height: 100%;
}
.jquery-slider-wrapper .jquery-slider-slide {
    height: 100%;
}
.sunarc-bannerslider-standard img {
    cursor: pointer;
}
.sunarc-bannerslide-flex-slider .flex-control-nav img{
    width: 300px;
    height: 150px;
}

.flexslider-carousel .slides img{
    height: 131px;
}

/* .flexslider-content-image .slides img{
    height: 650px;
} */

.sunarc-bannerslider-standard {
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .sunarc-bannerslider-standard {
        width: 768px;
    }
}

@media only screen and (max-width: 360px){
    .sunarc-bannerslider-standard {
        width: 290px;
    }
}

/*.sunarc-bannerslide-flex-slider ul.slides {
	height: 100%;
}
.sunarc-bannerslide-flex-slider ul.slides img {
	width: 100%;
	height: 100%;
}*/
